*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.accordian{
    width: 450px;
    background: white;
    border-radius: 8px;
    box-sizing: 0 10px 30px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item{
    display: flex;
    align-items: center;
    border: none;
    gap: 15px;
    border-radius: 2px;
    flex-wrap: wrap;
    background: white; 
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.item span{
    margin: 5px;
}

.item p{
    margin: 5px;
    display: none;
    font-style: italic;
    font-weight: 200;
    color: rgba(0,0,0);
}

.item:active{
    border-top: rgba(255, 99, 71, 0.5);
}
.item.open{
    border-top: 4px solid rgba(255, 99, 71, 0.8);
}

.item.open span,
.item.open i{
    color:  rgba(255, 99, 71, 0.8);
}
.item i{
    cursor: pointer;
    opacity: 0.5;
}

.item span:first-child{
    opacity: 0.5;
}

.item:last-child{
    border-bottom: none;
}

.item:first-child{
    border-top: none;
}