*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(252, 250, 250);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: rgb(168, 192, 208);
    display: flex;
    width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    gap:5px;
}

.labeltext{
    color: white;
}

.input-wrapper{
    position: relative;
    width: 250px;
}

.input-wrapper input{
    width: 100%;
    padding: 10px 40px 10px 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}

.input-wrapper .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
} 

